.header {
    background: $dark-blue;
}

.header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header-title {
    color: #fff;
    text-decoration: none;

    h1 {
        margin: 0;
    }
}
